<% if signed_in? %>
     

      <div class="row">
        
          
          <section>
            <%= render 'shared/user_info' %>
          </section>
          
          

       
        <div class="span8">
            <h2>Let's Shopping</h2>
            <%= render 'shared/micropost_form' %>
         </div>
         

      </div>
      <span><h3><input type="button" value="Look for more good products!" onclick="location.href='http://localhost:3000/store/index'"></h3></span>

      <section>
            <%= render 'shared/index' %>
          </section>
         
      <% else %>
  
      <div class="center hero-unit">
        <h3>jiangsu</h3>
        <h1>Buy Something Delicious!</h1>

        
        <h2><%= link_to "Sign up now!", signup_path, 
                                    class: "btn btn-large btn-primary" %><h3>
      </div>

      <IMG alt="Rails" border=5 src="/assets/eat.gif" width=165 height=100/>
    <% end %> 