<% if signed_in? %>
     

      <div class="row">
        <aside class="span4">
          
          <section>
            <%= render 'shared/user_info' %>
          </section>
          
          

        </aside>
        <div class="span8">
            <h2>Let's Shopping</h2>
            <%= render 'shared/feed' %>
         </div>

      </div>

      <section>
            <%= render 'shared/index' %>
          </section>
         
      <% else %>
  
      <div class="center hero-unit">
        <h3>jiangsu</h3>
        <h1>Buy Something Delicious!</h1>

        
        <h2><%= link_to "Sign up now!", signup_path, 
                                    class: "btn btn-large btn-primary" %><h3>
      </div>

      <IMG alt="Rails" border=5 src="/assets/eat.gif" width=165 height=100/>
    <% end %> 