
              <!-- 最新news -->
              <!-- 人氣popular_change_to_best -->
              <!-- 特價offers -->
              <!-- 推薦商品bests_change_to_vip -->
               <!-- 分類下商品goods -->
               <div id="product-04" class="pro-group">
                    <div class="product">
            	<a href="http://www.ez-taiwan.com/product/134.html"><img src="/assets/4.JPG" width=80 height=80/></a>
                <span class="p-name gray-01">蝦叔叔(12包組合)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT984元</span>
                    <span class="p-s-price red">優惠價 NT850元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="134" href="#">放入購物車</a></span>
            </div>
                    <div class="product">
            	<a href="http://www.ez-taiwan.com/product/135.html"><img src="/assets/9.jpeg" width=80 height=80/></a>
                <span class="p-name gray-01">蝦叔叔(40包組合)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT3280元</span>
                    <span class="p-s-price red">優惠價 NT2780元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="135" href="#">放入購物車</a></span>
            </div>
            <div class="product">
              <a href="http://www.ez-taiwan.com/product/135.html"><img src="/assets/2.jpeg" width=80 height=80/></a>
                <span class="p-name gray-01">蝦叔叔(40包組合)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT3280元</span>
                    <span class="p-s-price red">優惠價 NT2780元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="135" href="#">放入購物車</a></span>
              <div class="product">
              <a href="http://www.ez-taiwan.com/product/135.html"><img src="/assets/7.jpeg" width=80 height=80/></a>
                <span class="p-name gray-01">蝦叔叔(40包組合)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT3280元</span>
                    <span class="p-s-price red">優惠價 NT2780元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="135" href="#">放入購物車</a></span>
                <div class="product">
              <a href="http://www.ez-taiwan.com/product/135.html"><img src="/assets/8.jpeg" width=80 height=80/></a>
                <span class="p-name gray-01">蝦叔叔(40包組合)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT3280元</span>
                    <span class="p-s-price red">優惠價 NT2780元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="135" href="#">放入購物車</a></span>







                    <div class="product">
            	<a href="http://www.ez-taiwan.com/product/124.html"><img src="/assets/1.jpg"width=80 height=80 /></a>
                <span class="p-name gray-01">蝦叔叔大尾蝦酥(單包裝)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT90元</span>
                    <span class="p-s-price red">優惠價 NT82元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="124" href="#">放入購物車</a></span>
            </div>
                    <div class="product">
            	<a href="http://www.ez-taiwan.com/product/123.html"><img src="/assets/5.jpeg"width=80 height=80 /></a>
                <span class="p-name gray-01">蝦叔叔大尾蝦酥(盒裝)</span>
                <span class="p-price tgrogh-line gray-02">定價 NT900元</span>
                    <span class="p-s-price red">優惠價 NT720元</span>
                <span class="p-buynow"><a class="buy-icon cart_add" sn="123" href="#">放入購物車</a></span>
            </div>
                    <div class="both"></div>
        </div>
            </div>
        <div class="both"></div>
    </div>
