
    <article>
                <div class="search" id="J_Search" role="search">
                    <div class="search-panel search-sns-panel-field">
                        <form target="_blank" action="http://s.taobao.com/search" name="search" id="J_TSearchForm" class="search-panel-focused">
                            <div class="search-button">
                                <button class="btn-search" type="submit">搜 索</button>
                            </div>
                            <div class="search-panel-fields">
                                <label for="q"></label>
                                <input id="q" name="q" accesskey="s" autofocus="true" autocomplete="off" x-webkit-speech=""
                                       x-webkit-grammar="builtin:translate">
                            </div>
                            <input type="hidden" name="commend" value="all">
                            <input type="hidden" name="ssid" value="s5-e" autocomplete="off">
                            <input type="hidden" name="search_type" value="mall" autocomplete="off">
                            <input type="hidden" name="sourceId" value="tb.index">
                            <input type="hidden" name="spm" value="a1z02.1.6856637.d4910789">
                            <!--[if lt IE 9]><s class="search-fix search-fix-panellt"></s><s class="search-fix search-fix-panellb"></s>
                            <![endif]-->
                        </form>
                    </div>
                </div>
                    </nav>
        <a id="J_Nav_Side" title="展开导航"><em>&#61532;</em></a>
    </article>

                <IMG alt="Rails" border=5 src="/assets/55.JPG" width=50 height=20/>
                <span class="s-round-mask" ></span>
            </a>
            

            
            <input id="mtb-nickname" type="hidden" value="薛金凤199" data-desc="我是卖萌的，别管我，么么哒" data-emoji="ヽ(✿ﾟ▽ﾟ)ノ"/>
            <input id="mtb-userid" type="hidden" value="885851616" data-desc="我是来围观上面这个卖萌的货的" data-emoji="(￣_,￣ )"/>

            
                

    <div class="mt-menu-tree">
            <dl class="mt-menu-item" data-spm="a2109">
                <dt class="fs14">我的交易</dt>
                <dd>
                    <a href="http://cart.taobao.com/cart.htm?nekot=1416066484679" target="_blank" role="menuitem" data-spm="d1000367">我的购物车</a>
                </dd>
                                    <dd class="mt-menu-sub fold J_MtSideTree">
                                    <b class="mt-indicator J_MtIndicator">-</b>
                    <a id="bought" href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?nekot=1416066484679" data-spm="d1000368">已买到的宝贝</a>
                    <ul class="mt-menu-sub-content">
                        <li id="jinpai">
                            <a href="http://paimai.taobao.com/auctionList/my_auction_list.htm?nekot=1416066484679" data-spm="d1000369">我的拍卖</a>
                        </li>
                        <li id="jipiao">
                            <a href="http://jipiao.trip.taobao.com/order_manager.htm?nekot=1416066484679" role="menuitem" data-spm="d1000370">机票酒店保险</a>
                        </li>
                        <li id="caipiao">
                            <a href="http://caipiao.taobao.com/lottery/order/my_all_lottery_order.htm?nekot=1416066484679" data-spm="d1000371">我的彩票</a>
                        </li>
                        <li id="gamebuy">
                            <a href="http://game.taobao.com/gamecenter/played.htm?nekot=1416066484679" data-spm="d1000372">我的游戏</a>
                        </li>
                        <li id="ebookbuy">
                            <a href="http://ebook.taobao.com/myebook/my_items_list.htm?nekot=1416066484679" data-spm="d1000384">我的电子书</a>
                        </li>
                                                <li id="finance">
                            <a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?event_submit_do_query=1&action=itemlist/QueryAction&user_type=0&queryBizType=3000&refine=false" >我的理财</a>
                        </li>

                                                <script>
                                                    if(
                                ( typeof __MT_MENU_FLAGS !== "undefined" )
                                && __MT_MENU_FLAGS.showB2BMenu
                            ){
                                
                                document.write(
                                    '<li id="trade1688">' +
                                        '<a href="http://trade.taobao.com/trade/itemlist/list_bought_items_outer.htm?from=1688&scm=1217.1688.0.1&nekot=1416066484679" data-spm="d1000390">我的1688订单</a>'+
                                    '</li>'
                                );
                            }
                            
                        </script>
                                            </ul>
                </dd>
                <dd id="boughtShop"><a href="http://favorite.taobao.com/bought_shop_list.htm?itemtype=0&nekot=1416066484679" data-spm="d1000373">购买过的店铺</a></dd>
                <dd id="favorite"><a href="http://shoucang.taobao.com/collectList.htm?nekot=1416066484679" data-spm="d1000374">我的收藏</a></dd>
                <dd id="point"><a href="http://vip.tmall.com/point/all?nekot=1416066484679" target="_blank" data-spm="d1000375">我的积分</a></dd>
                                                    <dd id="gotBonus"><a href="http://taoquan.taobao.com/framework/got_bonus.htm?nekot=1416066484679" data-spm="d1000376">我的优惠信息</a></dd>
                                <dd id="myRate"><a href="http://rate.taobao.com/myRate.htm?nekot=1416066484679" data-spm="d1000377">评价管理</a></dd>
                                    <dd class="mt-menu-sub fold J_MtSideTree">
                                        <b class="mt-indicator J_MtIndicator">+</b>
                        <a class="J_MtIndicator" href="#" data-spm="d1000378">退款维权</a>
                        <ul class="mt-menu-sub-content">
                            <li id="refundList">
                                <a href="http://refund.taobao.com/refund_list.htm?nekot=1416066484679" data-spm="d1000379">退款管理</a>
                            </li>
                            <li id="rightManager">
                                <a href="http://support.taobao.com/myservice/aftersales/buyer_rights_list.htm?nekot=1416066484679" data-spm="d1000380">售后管理</a>
                            </li>
                            <li id="rulesManager">
                                <a href="http://support.taobao.com/myservice/rules/buyer_rules_list.htm?nekot=1416066484679" data-spm="d1000383">投诉管理</a>
                            </li>
                            <li id="postedSuit">
                                <a href="http://archer.taobao.com/myservice/report/report_i_posted_list.htm?type=2&user_role=2&isarchive=false&nekot=1416066484679" data-spm="d1000381">举报管理</a>
                            </li>
                            <li id="leaveWord">
                                <a href="http://service.taobao.com/support/leave_word_list.htm?nekot=1416066484679" data-spm="d1000382">咨询/回复</a>
                            </li>
                        </ul>
                    </dd>

                    <dd>
                        <a data-spm="d1000391" href="http://lu.taobao.com/newMyPath.htm?nekot=1416066484679" target="_blank" role="menuitem" >我的足迹<i class="icon-new" ></i></a>
                    </dd>

            </dl>
            <p class="hide J_RecentVisitPlaceholder" ></p>
            <?php
ob_start();
echo "\r\n";
?><style></style>
    </aside> 

        </section>
    </div>
</div>
