<div class="s-my-counts s-content">
        <ul>
            <li>
                <a data-spm="d4919660" target="_blank" href="http://trade.taobao.com/trade/itemlist/listBoughtItems.htm?action=itemlist/QueryAction&event_submit_do_query=1&auctionStatus=NOT_PAID&tradeRemindFrom=NOT_PAID&mytaobao_daifukuan"><span>待付款</span></a>
            </li>
            <li>
                <a data-spm="d4919661" target="_blank" href="http://trade.taobao.com/trade/itemlist/listBoughtItems.htm?action=itemlist/QueryAction&event_submit_do_query=1&auctionStatus=NOT_SEND&tradeRemindFrom=NOT_SEND&tracelog=mytaobao_daifahuo"><span>待发货</span></a>
            </li>
            <li>
                <a data-spm="d4919662" target="_blank" href="http://trade.taobao.com/trade/itemlist/listBoughtItems.htm?action=itemlist/QueryAction&event_submit_do_query=1&auctionStatus=SEND&tradeRemindFrom=SEND&tracelog=mytaobao_daishouhuo"><span>待收货<em>10</em></span></a>
            </li>
            <li>
                <a data-spm="d4919663" target="_blank" href="http://trade.taobao.com/trade/itemlist/listBoughtItems.htm?action=itemlist/QueryAction&event_submit_do_query=1&auctionStatus=ALL&commentStatus=I_HAS_NOT_COMMENT&tradeRemindFrom=I_HAS_NOT_COMMENT&tracelog=mytaobao_daipingjia"><span>待评价<em>7</em></span></a>
            </li>
            <li>
                <a data-spm="d4919664" target="_blank" href="http://refund.taobao.com/refund_list.htm"><span>退款</a></span>
            </li>
        </ul>
    </div>
</div>


    



        

    <div data-spm="1998049142" class="m-logistics g-box-base g-mb-set">

        <div class="s-bar">
            <i class="s-icon" ></i>我的物流
        </div>
        