<div class="s-my-counts s-content">
        <ul>
            <li>
                <h3><span>待付款</span></h3>
            </li>
            <li>
                <span><h3>待发货</h3></span>
            </li>
            <li>
                <span><h3>待收货</h3></span>
            </li>
            <li>
                <span><h3>待评价</h3></span>
            </li>
            <li>
             <span><h3>退款</h3></span>
            </li>
            <li>
              <span><h3><input type="button" value="Start Shopping" onclick="location.href='http://localhost:3000/store/index'"></h3></span>

            </li>

            
        </ul>
    </div>
</div>

        