<p id="notice"><%= notice %></p>


<span><h6><input type="button" value="Go back for more good products!" onclick="location.href='http://localhost:3000/store/index'"></h6></span>

<h2>Your Pragmatic Cart<h2>  
<ul>  
<% @cart.line_items.each do |item| %>  
<li><%= item.quantity %> &times; <%= item.product.title %></li>  
<% end %>  
</ul>  
